 

@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Montserrat+Alternates:wght@100&family=Pacifico&family=Playfair+Display:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=EB+Garamond&family=Marck+Script&family=Pacifico&family=Unbounded:wght@200&display=swap');
body{
	background-color: lightblue;
}
  p{ font-size:40px;
}
.p1{
	color: pink;
	background:linear-gradient( purple,darkviolet) ;
	text-align: center;
}
.p2{
	font-family: cursive;
	color: orange;
	font-weight:700 ;
}
.p3{
	font-family:  sans-serif;
}
.p4{
	font-family: 'EB Garamond', serif;
}
.p5{
	font-family: 'Marck Script', cursive;
}
.p6{
	font-family: 'Pacifico', cursive;
}
.p7{
	font-family: 'Unbounded', sans-serif;
}
.p8{
	text-decoration:underline;
	text-decoration-color:red ;
	text-decoration-style:wave ;
	text-underline-position:under;
}
.p9{text-decoration:underline;
	text-decoration-color:green ;
	text-decoration-style: dashed;
	text-underline-position:under;

}
.p10{
	text-shadow: 0 0 10px black;
}
.p11{
	color: greenyellow;
	text-shadow: 2px -2px red, 3px -3px plum;
}