body {background-color: lightgray;}
p{
	font-size: 50px;
	text-align: center;
	color: red;
	background-color: pink;
}
ul {
	font-size: 30px;
	color: darkblue;
}
.l1 li{
	padding-left: 20px;

}.l1 li: :marker{
	color: green;
}
ol{
	margin-left: 75px;
	color: blue;
	font-size: 30px;
}
@counter-style circled-digits {
  system: cyclic;
  symbols: 😺 😸 😹 😻 😼 😽 🙀 😿 😾 ;
  suffix: " ";
}

ul.l2 {
  list-style: circled-digits;
  margin-left: 40px;

